<header>
  <a class="navbar-brand" href="/">Jimmy's Shoes</a>
  <a class="nav-item nav-link" href="/listings/create">New Listing</a>
  <a class="nav-item nav-link" href="/listings">My Listings</a>
  <a class="nav-item nav-link" href="/transactions">My Transactions</a>
  <a class="nav-item nav-link" href="/messages">My Messages</a>
  <a class="navbar-brand" href="/session/login">Login</a>
  <a class="navbar-brand" href="/session/register">Register</a>
</header>
