<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create Listing</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>

  <%- include('partials/_header') %>
    <h1 class="currentpage">/ create listing</h1>

    <form class="newlistingform" method="POST" action="/create">
      <tbody>
        <table class="newlistingtable">
          <tr>
            <td><label for="name">name</label></td>
            <td><input type="text" id="name" name="name"></td>
          </tr>
          <tr>
            <td><label for="description">description</label></td>
            <td><input type="text" id="description" name="description"></td>
          </tr>
          <tr>
            <td><label for="price">price</label></td>
            <td><input type="text" id="price" name="price"></td>
          </tr>
          <tr>
            <td><label for="size">size</label></td>
            <td><input type="text" id="size" name="size"></td>
          </tr>
          <tr>
            <td><label for="gender">gender</label></td>
            <td><input type="text" id="gender" name="gender"></td>
          </tr>
          <tr>
            <td><label for="condition">condition</label></td>
            <td><input type="text" id="condition" name="condition"></td>
          </tr>
        </table>
      </tbody>
      <br>
      <button type="submit" class="newlistingsubmitbtn">List</button>
    </form>

</body>

</html>
