<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/index.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
    <h1 class="currentpage">/ Home</h1>
    <div class="homebannerimages">
      <img src="https://cdn.shopify.com/s/files/1/0616/3517/articles/SQUARE_2_d029872f-47db-476b-941b-a828ac679443_1024x1024.jpg?v=1669242957">
      <img src=https://media.restocks.net/products/DR7515-001/nike-air-trainer-1-sp-travis-scott-grey-haze-1-1000.png>
    </div>
    <h1>Public Access to Home Page Even When Logged Out</h1>
</body>

</html>
