<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Listings</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/mylistings.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
    <%- include('partials/_header') %>
  <h1 class="currentpage"> / my listings</h1>

  <article class="indivlisting">
    <section class="listingimage">
      <img src="/images/yeezy750.JPG">
    </section>
    <section class="listingdata">
      <h3 class="listingtitle">${listing.name}</h3>
      <ul class="listingspecifics">
        <li>Description: ${listing.description}</li>
        <li>Price: ${listing.price}</li>
        <li>Size: ${listing.size}</li>
        <li>Gender: ${listing.gender}</li>
        <li>Condition: ${listing.condition}</li>
      </ul>
    </section>
    <section class="mylistingedits">
      <form method="POST" action="/users/:userid/listings">
        <button type="submit" class="btn btn-primary">Sold</button><br>
      </form>
      <br>
      <form method="DELETE" action="/users/:userid/listings">
        <button type="submit" class="btn btn-primary">Delete</button><br>
      </form>
    </section>
  </article>
</body>

</html>
