<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
    <h3 class="currentpage">/ login</h3>
    <div class="userlogin">
      <tbody>
        <form method="POST" action="/session/login">
          <table class="logintable">
            <tr>
              <td>
                <label for="user_id">email</label>
              </td>
              <td>
                <input id="user_id" type="email" name="email" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="password">password</label>
              </td>
              <td>
                <input id="password" type="password" name="password" />
              </td>
            </tr>
          </table>
      </tbody>
      <br>
      <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>

</body>

</html>
