<!DOCTYPE html>
<html lang="en">

<head>
  <title>Register</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <main>
    <h3 class="currentpage-register">/ Register</h3>
    <div class="userregister">
      <tbody>
        <form method="POST" action="/session/register">
          <table class="registertable">
            <tr>
              <td>
                <label for="user_id">Email:</label>
              </td>
              <td>
                <input id="user_id" type="email" name="email" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="password">Password:</label>
              </td>
              <td>
                <input id="password" type="password" name="password" />
              </td>
            </tr>
          </table>
      </tbody>
      <button type="submit" id="registerbutton" class="btn btn-primary">Register</button><br />
      </form>
    </div>
    </main>
    <%- include('partials/_footer') %>
</body>

</html>
