<!DOCTYPE html>
<html lang="en">

<head>
  <title>Register</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
      <%- include('partials/_header') %>
      <h3 class="currentpage">/ register</h3>
      <div class="userregister">
        <form method="POST" action="/session/register">
          <label for="user_id">email</label>
          <input id="user_id" type="email" name="email" /><br />
          <label for="password">password</label>
          <input id="password" type="password" name="password" /><br />
          <br>
          <button type="submit" class="btn btn-primary">Register</button><br />
        </form>
      </div>
</body>
</html>
