/* scss for home page */

.homebannerimages {
 display:flex;
 flex-direction: row;
 justify-content: space-evenly;
}

img{
  max-width: 20rem;
  max-height: 20rem;
}

.filter {

  input {
  width: 2.5rem;
}

  button {
    font-size: 1rem;
  }
}
