// See: https://sass-lang.com/

* {
  background-color: white;
  color: black;
  font-size: 16px;
}

header {
  height: 3rem;
  margin: auto;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

button {
  border: 0.1rem solid;
}

button:not(.fa-regular):hover {
  box-shadow: 0.15rem 0.15rem grey;
  cursor: pointer;
}

.nav-logo{
  flex-grow: 0.7;
  font-size: 1.5rem;
  text-decoration: none;
}

.nav-user,
.nav-link{
  text-decoration: none;
}

body {
  margin: auto;
  width: 90%
}

.filter,
.currentpage {
  font-size: 1.2rem;
}

input{
  border: none;
  border-bottom: 1px solid black
}


